version: 2
updates:
  - package-ecosystem: "mix"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
    insecure-external-code-execution: allow

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
